.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: goldenrod;
}

.dialog {
  display: flex;
  align-items: center;
  color: #fff;
}

.messages {
  padding: 10px;
  color: #fff;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
}
